@import url('https://fonts.googleapis.com/css2?family=Margarine&display=swap');

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #ffeded;
    font-family: "Margarine", sans-serif;
}

.background {
    position: relative;
    width: 130vh;
    height: 90vh;
    background-color: #ffffff;
    opacity: 1;
    background-image: linear-gradient(#fff 1.5px, transparent 1.5px), linear-gradient(to right, #ffffff 1.5px, #ffeded 1.5px);
    background-size: 30px 30px;
    overflow: hidden;
}

h1 {
    position: absolute;
    top: 50px;
    width: 100%;
    text-align: center;
    font-size: 40px;
    color: #000;
}

h3 {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    font-size: 20px;
    color: #000;
}

img[alt="letrero"] {

    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
}

img[alt="dialgo"] {

    position: absolute;
    top: 20px;
    right: -20px;
    width: 150px;
    transform: rotate(25deg);
}

img[alt="Couple"] {

    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
}

img[alt="sobre"] {

    position: absolute;
    top: 55%;
    right: 0px;
    width: 90px;
    transform: rotate(45deg);
}

img[alt="flecha"] {

    position: absolute;
    top: 55%;
    left: 0px;
    width: 90px;
    transform: rotate(-60deg);
}

button {
    position: absolute;
    padding: 10px 25px;
    border: none;
    border-radius: 10px;
    font-family: "Margarine", sans-serif;
    font-size: 15px;
    cursor: pointer;
    transition: transform 0.2s;
}

button:hover {
    transform: scale(1.1);
}

button:nth-of-type(1) {
    bottom: 80px;
    left: 100px;
    background-color: #ffe4e6;

    color: #d63384;
}

button:nth-of-type(2) {
    bottom: 80px;
    right: 100px;
    background-color: #ffe4e6;
    color: #d63384;
}

#success-section {
    display: none; 
    text-align: center; 
    height: 100%;
    position: relative;
}

.success-title {
    position: relative;
    top: 10%; 
    transform: translateY(-150%);
}

.success-gif {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    width: 300px;
}